.fondo-nav-bar {
    background-color: #3e005e;
    
}

.fondo{
    height: 90vh;
    background-color: #3e005e;
    /* 
    display: flex;
    justify-content: start;
    align-items: center;
    background-image: url("assets/fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
}

.fondo-secciones {
    
    /* background-color: #db545a; */
    background-color: #3e005e;
}


body{  
    color: white;
    background-image: url("assets/fondo-secciones.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}



/* // <uniquifier>: Use a unique and descriptive class name */

.source-code-pro-fuente {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.proyecto {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.text-shadow-1 {
    text-shadow: -2px 0px 6px rgba(0, 0, 0, 1);
}


.text-shadow-2 {
    text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25);
}

.text-shadow-3 {
    text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25);
}

#proyecto-1 {
    background-image: url(assets/google.png);
}

#proyecto-2 {
    background-image: url(assets/recorrido-virtual.png);
}

#proyecto-3 {
    background-image: url(assets/portafolio.png);
}




